<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gyro3dMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gyro3dMonitor.Properties.Settings>
            <setting name="modelPath" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="texturePath" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="imagePath" serializeAs="String">
                <value>.\</value>
            </setting>
        </Gyro3dMonitor.Properties.Settings>
    </userSettings>
</configuration>